{% load static %}

<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'blog/styles/style.css' %}">

    <title>{% block title %}My Blog{% endblock %}</title>
</head>
<body>

    <header id="main-navigation">

        <h1>
            <a href="/">Mohamed Blog</a>
        </h1>

        <nav>
            <a href="/">Home</a>
            <a href="/posts">Posts</a>
        </nav>

    </header>

    {% block content %}
    {% endblock %}

</body>
</html>