{% extends "blog/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section class="hero-section mb-5">

    <div class="row align-items-center">

        <div class="col-lg-6">

            <h1 class="display-3 fw-bold mb-4">
                Mohamed Blogs
            </h1>

            <p class="lead mb-4">

                Benvingut al meu blog personal sobre
                programació, Django, Python i desenvolupament web.

                Aquí comparteixo projectes, tutorials
                i contingut relacionat amb tecnologia.

            </p>

            <a
                href="{% url 'posts-page' %}"
                class="btn btn-dark btn-lg"
            >
                Veure Posts
            </a>

        </div>

        <div class="col-lg-6 text-center">

            <img
                src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?q=80&w=1200&auto=format&fit=crop"
                class="img-fluid rounded-4 shadow hero-image"
                alt="Programming"
            >

        </div>

    </div>

</section>

<h1 class="mb-5 text-center fw-bold">
    Últimos Posts
</h1>

<div class="row g-4">

    {% for post in posts %}

    {% include "blog/includes/post.html" %}

    {% endfor %}

</div>

{% endblock %}